﻿@model SiliconValleyHealthGuideMVC.Models.HealthServiceProvider

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>HealthServiceProvider</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.contactInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contactInfo)
            @Html.ValidationMessageFor(model => model.contactInfo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.website)
            @Html.ValidationMessageFor(model => model.website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.services)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.services)
            @Html.ValidationMessageFor(model => model.services)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.specializations)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.specializations)
            @Html.ValidationMessageFor(model => model.specializations)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hours)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hours)
            @Html.ValidationMessageFor(model => model.hours)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
